@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0077b5;
  --color-secondary: #ffa500;
  --color-charcoal: #333333;
  --color-grey: #d6d6d6;
  --color-light-grey: #a6a6a6;
  --color-white: #ffffff;
}

p {
  font-family: "Montserrat", sans-serif;
}

.bg-image {
  background: url("src/assets/image.psd(2).png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
