@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0077b5;
  --color-secondary: #ffa500;
  --color-charcoal: #333333;
  --color-grey: #d6d6d6;
  --color-light-grey: #a6a6a6;
  --color-white: #ffffff;
}

p {
  font-family: "Montserrat", sans-serif;
}

.bg-container {
  position: relative;
}

.bg-image {
  /*background-image: url("src/assets/image.psd(2).png");
  bgimg DYNAMIC IMPORTED IN Listings,jsx */
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-attachment: inherit;
  background-size: inherit;
  -webkit-background-size: inherit;
  -moz-background-size: inherit;
  -o-background-size: inherit;
  mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  /*
  filter: blur(100px);
  opacity: 0.9;
  */
}

.CTA-overlay {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(999, 999, 999, 0.25);
  width: 100%;
  padding: 20px;
  text-align: center;
  /*backup color*/
  color: #000;
}

.CTA-overlay p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
